.inputWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;

    padding-bottom: 15px;

    min-width: 100px;
}

.label {
    padding-bottom: 5px;
}

.inputField {
    background-color: #EEF2F7;

    padding: 15px 10px;

    border: none;
    border-radius: 5px;
}

.error > .label {
    color: var(--error);
}

.error > .inputField {
    outline-color: var(--error);
}

.errorMessage {
    color: var(--error);
}