.root {
    display: flex;
    align-items: center;
}

.root:before, .root::after {
    content: "";

    flex-grow: 1;

    width: 100%;
    height: 1px;

    background-color: var(--on-surface);
}

.text {
    padding: 0 1em;
}