@import url('./reset.css');
@import url('./themes.css');

html, body {
  box-sizing: border-box;
  height: 100%;
}

body {
  background-color: var(--background);

  color: var(--on-background);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  display: flex;
  flex-direction: column;

  height: 100%;
}

a {
  color: var(--secondary);

  transition: color .1s;
}

a:hover {
  color: var(--secondary-variant);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
