body.light-theme {
  --primary: #6200ee;
  --primary-variant: #3700b3;
  --secondary: #03dac6;
  --secondary-variant: #018786;

  --background: #E9E5E0;
  --surface: #ffffff;
  --input: #EEF2F7;
  --error: #b00020;

  /* font */
  --on-primary: #ffffff;
  --on-secondary: #000000;
  --on-background: #000000;
  --on-surface: #000000;
  --on-error: #ffffff;
}

body.dark-theme {
  --primary: #6200ee;
  --primary-variant: #3700b3;
  --secondary: #03dac6;
  --secondary-variant: #018786;

  --background: #0e0e0e;
  --surface: #242424;
  --input: #1A1A1A;
  --error: #b00020;

  /* font */
  --on-primary: #ffffff;
  --on-secondary: #000000;
  --on-background: #ffffff;
  --on-surface: #ffffff;
  --on-error: #ffffff;
}
