.card {
    background-color: var(--secondary-bg-color);

    width: 30%;
    min-width: 320px;
    padding: 40px 20px;
    margin: 10px auto;

    border-radius: 5px;
}

.card > hr {
    border-color: var(--main-bg-color);
}
