.table {
    min-width: 100%;
}

.row {
    transition: background-color .2s;
}

.cell {
    vertical-align: middle;
}

.headCell {
    padding: var(--indent) 0;
    background: var(--input);
    color: var(--placeholder);

    text-align: left;
}

.body {}

.hovered > .row:hover {
    cursor: pointer;
    background-color: #2a2a2a;
}

.emptyCell {
    color: var(--placeholder);
    text-align: center;

    padding: var(--indent);
}